/* ~/.config/gtk-3.0/gtk.css */

.xfce4-panel.panel {
  /* change the background-color to match the background color of the panel */
  background-color: #202020;  /* #1B1B1B; */
  color: #ffffff;
  text-shadow: none;}
.xfce4-panel.panel button.flat, .xfce4-panel.panel button.sidebar-button {
  /* the foreground color of the text */
  color: #ffffff;
  border-radius: 0;
  border: none; }
.xfce4-panel.panel button.flat:hover, .xfce4-panel.panel button.sidebar-button:hover {
  color: #000000;
  border: none;
  background-color: rgba(0, 0, 0, 0.0); }
/* .xfce4-panel.panel button.flat:active, .xfce4-panel.panel button.sidebar-button:active, .xfce4-panel.panel button.flat:checked, .xfce4-panel.panel button.sidebar-button:checked {
  color: #ffffff;
  border: none;
  background-color: rgba(0, 0, 0, 0.0); }
*/
